<div class="container-fluid description">
  <div class="row">
    <div class="desc-screen">
      <h3 class="desc-screen-header">Screen</h3>
      <p class="desc-screen-text">
          The purpose of the ENRP Remark Code screen is to store remark codes for the Extended Non-Network Reimbursement Program (ENRP).
          Remark codes are stored for ER and Non-ER services and can vary by State, Funding Type and Product code. 
          Screen content ownership is under Network Programs.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="desc-remark">
      <h3>Remark Code</h3>
      <p>
        
      </p>
    </div>
  </div>
</div>